Copyright (C) 2023 201800294_DongilKim All rights reserved <U>_(https://KimTein.github.io)_</U>

Ch_11_assignment

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Storing Data Using Other Collection type

In [4]:
vowels = {'a','e','i','o','u'}
vowels

vowels = {'a','e','a','a','i','o','u','u'}
vowels

{'a','e','i','o','u'} == {'a','e','a','a','i','o','u','u'}

{'a', 'e', 'i', 'o', 'u'}

{'a', 'e', 'i', 'o', 'u'}

True

In [5]:
set([2, 3, 2, 5])

{2, 3, 5}

In [6]:
set(2,3,5)

TypeError: set expected at most 1 argument, got 3

In [7]:
set(range(5))

{0, 1, 2, 3, 4}

## Set Operations

In [8]:
vowels = {'a','e','i','o','u'}
vowels

vowels.add('y')
vowels

{'a', 'e', 'i', 'o', 'u'}

{'a', 'e', 'i', 'o', 'u', 'y'}

In [9]:
ten = set(range(10))
lows = {0, 1, 2, 3, 4}
odds = (1, 3, 5, 7, 9)

lows. add(9)
lows

lows.difference(odds)

lows.intersection(odds)

{0, 1, 2, 3, 4, 9}

{0, 2, 4}

{1, 3, 9}

In [10]:
lows.issubset(ten)

lows.issuperset(odds)

lows.remove(0)
lows

lows.symmetric_difference(odds)

lows.union(odds)

lows.clear()
lows

True

False

{1, 2, 3, 4, 9}

{2, 4, 5, 7}

{1, 2, 3, 4, 5, 7, 9}

set()

In [11]:
lows = set([0, 1, 2, 3, 4])
odds = set([1, 3, 5, 7, 9])

lows - odds

lows & odds

lows <= odds

lows >= odds

lows | odds

lows ^ odds

{0, 2, 4}

{1, 3}

False

False

{0, 1, 2, 3, 4, 5, 7, 9}

{0, 2, 4, 5, 7, 9}

In [12]:
bases = ('A', 'C', 'G', 'T')
for base in bases:
    print(base)

A
C
G
T

In [13]:
(8)

type((8))

(8,)

type((8,))

(5 + 3)

(5 + 3,)

8

int

(8,)

tuple

8

(8,)

In [15]:
life = (['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])
life[0] = life[1]

TypeError: 'tuple' object does not support item assignment

In [16]:
life = (['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])
life[0][1] = 80.0
life

(['Canada', 80.0], ['United States', 75.5], ['Mexico', 72.0])

In [18]:
canada = ['Canada', 76.5]
usa = ['United States', 75.5]
mexico = ['Mexico', 72.0]
life = (canada, usa, mexico)
life

(['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])

In [19]:
mexico = ['Mexico', 72.5]
life

(['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])

In [20]:
life[0][1] = 80.0
canada

['Canada', 80.0]

## Asigning to Multiple Variables Using Tuples

In [21]:
(x, y) = (10, 20)
x
y

10

20

In [22]:
10, 20
x, y = 10, 20
x
y

(10, 20)

10

20

In [23]:
s1 = 'first'
s2 = 'second'
s1, s2 = s2, s1
s1
s2

'second'

'first'

In [24]:
from typing import TextIO, List, Any
from io import StringIO

In [25]:
def count_birds(observations_file:TextIO) -> List[List[Any]]:
    bird_counts = []
    for line in observations_file:
        bird = line.strip()
        found = False
        
        for entry in bird_counts:
            if entry[0] == bird:
                entry[1] = entry[1] + 1
                found = True
        if not found:
            bird_counts.append([bird, 1])
            
    return bird_counts

In [27]:
if __name__ == '__main__':
    with open('observations.txt') as observations_file:
        bird_counts = count_birds(observations_file)
        
        for entry in bird_counts:
            print(entry[0], entry[1])

canada goose 5
long-tailed jaeger 2
snow goose 1
northern fulmar 1

In [29]:
bird_to_observations = {'canada goose': 3, 'northern fulmar': 1}
bird_to_observations

bird_to_observations['northern fulmar']

bird_to_observations['canada goose']

{'canada goose': 3, 'northern fulmar': 1}

1

3

In [30]:
bird_to_observations['long-tailed jaeger']

KeyError: 'long-tailed jaeger'

In [31]:
dict1 = {'canada goose': 3, 'northern fulmar': 1}
dict2 = {'northern fulmar': 1, 'canada goose': 3}
dict1 == dict2

True

## Updating and Checking Membership

In [32]:
bird_to_observations = {}
bird_to_observations['snow goose'] = 33
bird_to_observations['eagle'] = 999

bird_to_observations

bird_to_observations['eagle'] = 9
bird_to_observations

{'snow goose': 33, 'eagle': 999}

{'snow goose': 33, 'eagle': 9}

In [34]:
bird_to_observations = {'snow goose': 33, 'eagle': 9}
del bird_to_observations['snow goose']
bird_to_observations

{'eagle': 9}

In [35]:
del bird_to_observations['gannet']

KeyError: 'gannet'

In [36]:
bird_to_observations = {'eagle': 990, 'snow goose': 33}
'eagle' in bird_to_observations

if 'eagle' in bird_to_observations:
    print('eagles have been seen')

True

In [38]:
del bird_to_observations['eagle']
'eagle' in bird_to_observations

if 'eagle' in bird_to_observations:
    print('eagles have been seen')

False

## Looping over Dictionaries

In [39]:
bird_to_observations = {'canada goose': 183, 'long-tailed jaeger': 71, 'snow goose': 63, 'northern fulmar':1}
for bird in bird_to_observations:
    print(bird, bird_to_observations[bird])

canada goose 183
long-tailed jaeger 71
snow goose 63
northern fulmar 1

## Dictionary Operations

In [40]:
scientist_to_birthdate = {'Newton': 1642, 'Darwin': 1809, 'Turing': 1912}

scientist_to_birthdate.keys()

scientist_to_birthdate.values()

scientist_to_birthdate.items()

scientist_to_birthdate.get('Newton')

scientist_to_birthdate.get('Curie', 1867)

scientist_to_birthdate

dict_keys(['Newton', 'Darwin', 'Turing'])

dict_values([1642, 1809, 1912])

dict_items([('Newton', 1642), ('Darwin', 1809), ('Turing', 1912)])

1642

1867

{'Newton': 1642, 'Darwin': 1809, 'Turing': 1912}

In [45]:
scientist_to_birthdate = {'Newton': 1642, 'Darwin': 1809, 'Turing': 1912}
researcher_to_birthdate = {'Curie': 1867, 'Hopper': 1906, 'Franklin': 1920}

scientist_to_birthdate.update(researcher_to_birthdate)
scientist_to_birthdate

researcher_to_birthdate

researcher_to_birthdate.clear()
researcher_to_birthdate

{'Newton': 1642,
 'Darwin': 1809,
 'Turing': 1912,
 'Curie': 1867,
 'Hopper': 1906,
 'Franklin': 1920}

{'Curie': 1867, 'Hopper': 1906, 'Franklin': 1920}

{}


*****************************************************************************
Reference<br>
*    Title: Physics Programming Lecture Note (INU)
*    Author: Jeongwoo Kim, Ph.D.
*    Availability: https://sites.google.com/view/jeongwookim
  
****************************************************************************

Copyright (C) 2023 201800294_DongilKim All rights reserved <U>_(https://KimTein.github.io)_</U>