Copyright (C) 2023 201800294_DongilKim All rights reserved <U>_(https://KimTein.github.io)_</U>

# Ch_3_Designing and Using Functions

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Functions That Python Provides

In [5]:
# Python comes with many built-in functions that perform common operations.
abs(-9)

print("#"*30)

abs(3.3)

print("#" * 30)

# General form of a function call
day_temperature = 3
night_temperature = 10
abs(day_temperature - night_temperature)

print("#" * 30)

# Examples

abs(-7) + abs(3.3)

print("#" * 30)

pow(abs(-2), round(4.3))

print("#" * 30)

int(34.6) # Some of the most useful built-in functions are ones that convert from one type to another.

print("#" * 30)

int(-4.3) # We see that when a floating-point number is converted to an integer, it is truncated, not rounded.

print("#" * 30)

float(21)

print("#" * 30)

help(abs)

print("#" * 30)

# Examples
help(pow)

print("#" * 30)

pow(2, 4) # This call calculates 2^4.

print("#" * 30)

pow(2, 4, 3) # We know that 2^4 is 16, and evaluation of 16 % 3 produces 1.

9

##############################

3.3

##############################

7

##############################

10.3

##############################

16

##############################

34

##############################

-4

##############################

21.0

##############################
Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

##############################
Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

##############################

16

##############################

1

## Memory Addresses: How Python Keeps Track of values

In [8]:
# You can discover the actual memory address of an object using built-in function id.
help(id)

print("#" * 30)

id(-9)

print("#" * 30)

id(23.1)

print("#" * 30)

shoe_size = 8.5
id(shoe_size)

print("#" * 30)

fahrenheit = 77.7
id(fahrenheit)

print("#" * 30)
# Function objects also have memory addresses.

id(abs)

print("#" * 30)

id(round)

print("#" * 30)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

##############################

4408793232

##############################

4408311216

##############################

4408792464

##############################

4408311280

##############################

4346972416

##############################

4346979408

##############################

## Defining Our Own Functions

In [10]:
# Let’s write our own function that convert Fahrenheit to Celsius.
convert_to_celsius(212) # The function convert_to_celsius doesn’t exist yet.

NameError: name 'convert_to_celsius' is not defined

In [11]:
# General form
def convert_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9 

convert_to_celsius(80)

26.666666666666668

## Using Local Variables For Temporary Storage

In [13]:
# Some computations are complex, and breaking them down into separate steps can lead to clearer code.
def quadratic(a, b, c, x):
    first = a * x ** 2
    second = b * x
    third = c
    return first + second + third

quadratic(2, 3, 4, 0.5)

print("#" * 30)

quadratic(2, 3, 4, 1.5)

print("#" * 30)

quadratic(2, 3, 4, 1.3)

print("#" * 30)

6.0

##############################

13.0

##############################

11.280000000000001

##############################

In [14]:
# Trying to access a local variable from outside the function is an error, just like trying to access a variable that has never been defined is an error.
first

NameError: name 'first' is not defined

In [16]:
# Trying to access a local variable from outside the function is an error, just like trying to access a variable that has never been defined is an error.
a

NameError: name 'a' is not defined

In [21]:
# The area of a program that a variable can be used in is called the variable’s scope. The scope of a local variable is from the line in which it is defined up until the end of the function.
def quadratic(a, b, c, x):
    first = a * x ** 2
    second = b * x
    third = c
    return first + second + third

quadratic(1, 2, 3) # If a function is defined to take a certain number of parameters, a call on that function must have the same number of arguments

TypeError: quadratic() missing 1 required positional argument: 'x'

## Tracing the Function Calls in the Memory Model

In [24]:
# The x that is a parameter of function f is a different variable than the x in the shell.
def f(x):
    x = 2 * x
    return x

# Whenever Python executes a function call, it creates a namespace (literally, a space for names) in which to store local variables for that call.
x = 1
x = f(x + 1) + f(x + 2)
x

10

## Designing New Functions: A Recipe

In [30]:
# Python uses three double quotes to start and end this documentation; everything in between is meant for humans to read. This notation is called a docstring, which is short for documentation string.

def days_differnce(day1: int, day2: int) -> int: # The parameter types and return type form a type contract because we are claiming that if you call this function with the right types of values, we’ll give you back the right type of value.
    """
    Return the number of days between day1 and day2, which are 
    both in the range 1-365 (thus indicating the day of the
    year).
    
    >>> days_difference(200, 224)
    24
    >>> days_difference(50, 50)
    0
    >>> days_difference(100, 99)
    -1
    """
    return day2 - day1

Designing Three Birthday-Related Functions

|Day of the Week | Number|
|:---:|:---:|
|Sunday|1|
|Monday|2|
|Tuesday|3|
|Wednesday|4|
|Thursday|5|
|Friday|6|
|Saturday|7|

In [35]:
# Range from 1 to 7
def get_weekday(current_weekday: int, days_ahead: int) -> int:
    return current_weekday + days_ahead % 7

get_weekday(3, 1)
get_weekday(6, 1)
get_weekday(7, 1)

print("#" * 30)

# Range from 0 to 6
# Sunday -> 0, Saturday -> 6
 
def get_weekday(current_weekday: int, days_ahead: int) -> int:
    return (current_weekday + days_ahead - 1) % 7 + 1

get_weekday(3, 1)
get_weekday(6, 1)
get_weekday(7, 1)

4

7

8

##############################

4

7

1

**What Day Is My Birthday On?**

In [38]:
def get_birthday_weekday(current_weekday: int, current_day: int, birthday_day: int) -> int:
    days_diff = days_differnce(current_day, birthday_day)
    return get_weekday(current_weekday, days_diff)

get_birthday_weekday(5, 3, 4)
get_birthday_weekday(5, 3, 116)
get_birthday_weekday(6, 116, 3)

6

6

5

## Omitting a return Statement:None

In [40]:
# If you don’t have a return statement in a function, nothing is produced.
def f(x):
    x = 2 * x

res = f(3)
res

print("#" * 30)

print(res)

print("#" * 30)

id(res)

print("#" * 30)

# Variable res has a value: it’s None! And None has a memory address. If you don’t have a return statement in your function, your function will return None.

def f(x):
    x = 2 * x
    return None

print(f(3))

##############################
None
##############################

4344743376

##############################
None

## Dealing with Situations That Your Code Doesn’t Handle

In [43]:
# You’ll often write a function that works only in some situations.
def pie_percent(n: int) -> int:
    return int(100 / n)

pie_percent(5)
pie_percent(2)
pie_percent(1)

20

50

100

# Ch_4_Working with text

## Creating Strings of Characters

### The opening and closing quotes must match.

In [4]:
'Aristotle'
"Issac Newton"

'Aristotle'

'Issac Newton'

In [5]:
# The error indicates that the end of the line was reached before the end of the string (which should be marked with a closing single quote) was found.
'Charles Darwin"

SyntaxError: EOL while scanning string literal (192036928.py, line 2)

### Operations on Strings

In [6]:
# Python has a built-in function, len, that returns the number of characters between the opening and closing quotes.
len('Albert Einstein')
print("#"*30)

len('123!')
print("#"*30)

len(' ')
print("#"*30)

len('')

15

##############################

4

##############################

1

##############################

0

In [8]:
# We can add two strings using the + operator, which produces a new string containing the same characters as in the two operands.
# When + has two string operands, it is referred to as the concatenation operator.
'Albert' + ' Einstein'

'Albert Einstein'

In [9]:
# Adding an empty string to another string produces a new string that is just like the nonempty operand.
"Alan Turing" + ''
print("#"*30)

"" + 'Grace Hopper'

'Alan Turing'

##############################

'Grace Hopper'

In [10]:
# Because the first operand was a string, Python expected the second operand to also be a string but instead it was an integer.
'NH' + 3

TypeError: can only concatenate str (not "int") to str

In [11]:
# Because Python saw a 9 first, it expected the second operand to also be numeric.
9 + 'planets'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# If you want to join a string with a number, you could apply function str to the number to get its string representation, and then apply the concatenation.
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

In [13]:
# Function int can be applied to a string whose contents look like an integer, and float can be applied to a string whose contents are numeric
int('0')
print("#" * 30)

int("11")
print("#" * 30)

int('-324')
print("#" * 30)

float('-324')
print("#" * 30)

float("56.34")

0

##############################

11

##############################

-324

##############################

-324.0

##############################

56.34

In [14]:
# It isn’t always possible to get an integer or a floating- point representation of a string.
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [15]:
float('b')

ValueError: could not convert string to float: 'b'

In [16]:
# In addition to +, len, int, and float, operator * can be applied to strings.
'AT' * 5
print("#"*30)

4 * '-'
print("#"*30)

'Gc' * 0
print("#"*30)

'TATATA' * -3

'ATATATATAT'

##############################

'----'

##############################

''

##############################

''

In [17]:
# Strings are values, so you can assign a string to a variable.
sequence = 'ATTGTCCCCC'
len(sequence)
print("#"*30)

new_sequence = sequence + 'GGCCTCCTGC'
new_sequence
print("#"*30)

new_sequence * 2

10

##############################

'ATTGTCCCCCGGCCTCCTGC'

##############################

'ATTGTCCCCCGGCCTCCTGCATTGTCCCCCGGCCTCCTGC'

## Using Special Characters in Strings

In [18]:
# Suppose you want to put a single quote inside a string. If you write it directly, an error occurs
# When Python encounters the second quote—the one that is intended to be part of the string—it thinks the string is ended. 
# It doesn’t know what to do with the text that comes after the second quote
'that's not to going to work'

SyntaxError: invalid syntax (1027383114.py, line 4)

In [19]:
# One simple way to fix this is to use double quotes around the string
"that's better"
print("#"*30)

# We can also put single quotes around a string containing a double quote.
'She said, "That is better."'

"that's better"

##############################

'She said, "That is better."'

In [20]:
# The backslash is called an escape character, and the combination of the backslash and the single quote is called an escape sequence. 
# The name comes from the fact that we’re “escaping” from Python’s usual syntax rules for a moment.
'She said, "That' + "'" + 's hard to read."'

'She said, "That\'s hard to read."'

In [21]:
# The escape sequence \' is indicated using two symbols, but those two symbols represent a single character.
len('\'')
print("#" * 30)

len('it\'s')

1

##############################

4

In [22]:
# The backslash is called an escape character, and the combination of the backslash and the single quote is called an escape sequence. 
# The name comes from the fact that we’re “escaping” from Python’s usual syntax rules for a moment.
'She said, "That' + "'" + 's hard to read."'

'She said, "That\'s hard to read."'

## Creating Multiline String

In [24]:
# If you create a string using single or double quotes, the whole string must fit onto a single line.
'one

SyntaxError: EOL while scanning string literal (1791044688.py, line 2)

In [26]:
# To span multiple lines, put three single quotes or three double quotes around the string instead of one. 
# The string can then span as many lines as you want.
'''one
two
three'''

'one\ntwo\nthree'

Notice that the string Python creates contains a \n sequence everywhere our input started a new line. Each newline is a character in the string.

## Printing Information

### Built-in function print

In [28]:
# Function print doesn’t allow any styling of the output: no colors, no italics, no boldface. All output is plain text.
print(1 + 1)
print("The Latin 'Oryctolagus cuniculus' means 'domestic rabbit'.\n")

print('In 1859, Charles Darwin revolutionized biology')
print('and our understanding of ourselves')
print('by publishing "On the Origin of species".\n')

print('one\ttwo\nthree\tfour')

2
The Latin 'Oryctolagus cuniculus' means 'domestic rabbit'.

In 1859, Charles Darwin revolutionized biology
and our understanding of ourselves
by publishing "On the Origin of species".

one	two
three	four

In [29]:
numbers = '''one
two
three'''
numbers
print("#" * 30)

print(numbers) # When a multiline string is printed, those \n sequences are displayed as new lines.
print("#" * 30)

print(1, 2, 3) # Function print takes a comma-separated list of values and prints the values with a single space between them and a newline after the last value.
print("#" * 30)

print() # Print ends the current line, advancing to the next one.

'one\ntwo\nthree'

##############################
one
two
three
##############################
1 2 3
##############################

In [30]:
# Function print can print values of any type, and it can even print values of different types in the same function call.
print(1, 'two', 'three', 4.0)

1 two three 4.0

In [31]:
# It is possible to call print with an expression as an argument.
radius = 5
print("The diameter of the circle is", radius * 2, "cm.")

The diameter of the circle is 10 cm.

In [32]:
# The parameters sep, end, file, and flush have assignment statements in the function header! 
# These are called default parameter values: by default, if we call function print with a comma-separated list of values, the separator is a space; similarly, a newline character appears at the end of every printed string.
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [37]:
# We separate each value with a comma and a space instead of just a space by including sep=', ' as an argument
print('a', 'b', 'c' '\n')
print('a', 'b', 'c', sep=',')

print('\n')
print('a', 'b', 'c', sep=',', end='')

a b c

a,b,c


a,b,c

In [38]:
def convert_to_celsius(fahrenheit: float) -> float:
    """ Return the number of Celsius degrees equivalent to fahrenheit degrees.
    >>> convert_to_celsius(75)
    23.888888888888889
    """
    
    return (fahrenheit - 32.0) * 5.0 / 9.0

print('80, 78.8 and 10.4 degrees Fahrenheit are equal to ', end='')
print(convert_to_celsius(80), end=', \n')
print(convert_to_celsius(78.8), end=', and ')
print(convert_to_celsius(10.4), end=' Celsius. \n')

80, 78.8 and 10.4 degrees Fahrenheit are equal to 26.666666666666668,
26.0, and -12.0 Celsius.

## Getting Information from the Keyboard

In [39]:
# Another built-in function is input, which reads a single line of text from the keyboard. 
# It returns whatever the user enters as a string, even if it looks like a number.
species = input()
species
print()

population = input()
population
print()

type(population)
print()

species = input("Please enter a species: ")
print(species)

In [41]:
# If you are expecting the user to enter a number, you must use int or float to get an integer or a floating-point representation of the string.
population = input()
population

'Homo sapiens'

In [51]:
population = input(population)
population

'6973738433'

In [44]:
type(population)

str

In [50]:
population = int(input())
population = population + 1
population

6973738434


*****************************************************************************
Reference<br>
*    Title: Physics Programming Lecture Note (INU)
*    Author: Jeongwoo Kim, Ph.D.
*    Availability: https://sites.google.com/view/jeongwookim
  
****************************************************************************

Copyright (C) 2023 201800294_김동일 All rights reserved <U>_(https://KimTein.github.io)_</U>